streamlit
cohere
pydub
noisereduce
scipy
PyMuPDF
shortuuid
razorpay
python-docx
google.generativeai
python-igraph
matplotlib
plotly
requests
Pillow
pytesseract
python-pptx
html2text
python-vlc
networkx
gtts
fpdf
genanki
opencv-python
scikit-learn
pandas
SpeechRecognition
deep-translator
python-vlc
youtube-transcript-api
reportlab
streamlit-authenticator
google-auth-oauthlib
google-api-python-client
redis
PyPDF2
streamlit-lottie
streamlit-autorefresh
openai
