streamlit
cohere
PyMuPDF
python-docx
python-igraph
plotly
requests
Pillow
pytesseract
python-pptx
html2text
networkx
gtts
fpdf
genanki
scikit-learn
pandas
SpeechRecognition
deep-translator
youtube-transcript-api
reportlab
streamlit-authenticator
google-auth-oauthlib
google-api-python-client
redis
PyPDF2
streamlit-lottie
streamlit-autorefresh
